<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}{% endblock %}
      <link rel="icon" type="image/ico" href="/media/ico/muli.ico">
    {% block custom_head_css_js %} {% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="/static/js/jquery.dropdown.min.css" />
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.dropdown.min.js"></script>

<style>#myBtn{display:none;position:fixed;bottom:20px;right:30px;z-index:99;font-size:18px;border:none;outline:none;background-color:red;color:#fff;cursor:pointer;padding:15px;border-radius:4px}#myBtn:hover{background-color:#555}</style>
</head>
<body>

<div class="container">
<div class="row">

<nav>
<div id="jq-dropdown-1" class="jq-dropdown jq-dropdown-tip">
    <ul class="jq-dropdown-menu">
        <li><a href="{% url "user:user-profile" %}">Profile</a></li>
        <li><a href="{% url "user:user-supporter" %}">WhoLikeMe</a></li>
        <li><a href="{% url "upload:upload-angular" %}">Pictures</a></li>
        <li class="jq-dropdown-divider"></li>
        <li><a href="#">Setting</a></li>
        <li><a href="{% url "post:post-create" %}">New Post</a></li>
        {% if request.user.is_superuser %}
        <li><a href="{% url "video:video-create" %}">New Viedeo</a></li>
        {% endif %}
        {% if request.user.is_superuser %}
        <li><a href="/admin/">Admin Dashboard</a></li>
        {% endif %}
    </ul>
</div>
<ul>
<br>
    <a href="/">Home</a> |
    <a href="{% url "post:post-create" %}">Post</a> |
    {% if user.is_authenticated %}
    {% load thumbnail %}
    welcome <a href="#" data-jq-dropdown="#jq-dropdown-1">{{request.user.username}}</a> |
    <a href="{% url "user:logout" %}">   ---  Logout</a> 
    {% else %}
    <a href="{% url "user:usersignup" %}">Join</a> |
    <a href="{% url "user:userlogin" %}">Login</a> |
    {% endif %}
  </ul>
</nav>
</div>
</div>
<hr>
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-2">
				</div>
				<div class="col-md-8">
<a href={% url "video:video-list" %}>视频</a>
<a href=/catalogs/29/>二手车</a>
<a href=/catalogs/28/>房屋</a>
<a href=/catalogs/27/>签证</a>
<a href=/catalogs/26/>区块链</a>
<a href=/catalogs/25/>SEO</a>
<a href=/catalogs/24/>市场</a>
<a href=/catalogs/23/>财务</a>
<a href=/catalogs/22/>客服</a>
<a href=/catalogs/21/>技术</a>
<a href=/catalogs/20/>性福天地</a>
<a href=/catalogs/19/>英语</a>
<a href=/catalogs/18/>摄影</a>
<a href=/catalogs/17/>体育</a>
<a href=/catalogs/16/>游戏</a>
<a href=/catalogs/15/>美食</a>
<a href=/catalogs/14/>旅行</a>
<a href=/catalogs/13/>新闻</a>
<a href=/catalogs/12/>活动</a>
<a href=/catalogs/11/>求助</a>
				</div>
				<div class="col-md-2">
				</div>
			</div>
		</div>
	</div>
</div>
<hr>
{% block abovecontent  %}
{% endblock %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-3 offset-sm-2">
		{% block content_left %}{% endblock %}
		</div>
		<div class="col-md-5">
		{% block content %}{% endblock %}
		</div>
		<div class="col-md-4">
		{% block content_right %}{% endblock %}
		</div>
	</div>
</div>

</body>
<script>
window.onscroll = function() {scrollFunction()};
function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>
{% block custom_foot_js %} {% endblock %}
</html>
