<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<script type="text/javascript" src="https://github.com/msroot/bigpipe/blob/master/prototype.js"></script>
	<script type="text/javascript" src="https://github.com/msroot/bigpipe/blob/master/prototypepatch.js"></script>
	<script type="text/javascript" src="https://github.com/msroot/bigpipe/blob/master/bigpipe.js"></script>
		
	<title>{{title}}</title>
</head>
<body >
	<div id="content_0"></div>
	<div id="content_1"></div>
	<div id="content_2"></div>
	<div id="content_3"></div>
	<div id="content_4"></div>
	<div id="content_5"></div>
	<div id="content_6"></div>
	<div id="content_7"></div>
	<div id="content_8"></div>
	<div id="content_9"></div>

